<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Training" translate="label" sortOrder="10">
            <label>TRAINING EXTENSIONS</label>
        </tab>
        <section id="logreader_configuration" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>LogReader configuration</label>
            <tab>Training</tab>
            <resource>Training_LogReader::menu</resource>
            <group id="logreader_configuration_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>LogReader General Configuration</label>

                <field id="default_last_lines_qty" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Default last lines qty </label>
                    <validate>required-entry validate-zero-or-greater</validate>
                </field>                

                <field id="add_lines_numbers_to_output" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label> Add line number to output</label>                    
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>                

            </group>
        </section>
    </system>
</config>
